h1{
    text-align: center;
    text-decoration: underline;
    color: honeydew;
}
section{
    height: 50vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    
}
.container{
    border: 3px solid red;
    color: brown;
    padding: 15px;
    margin-left: 45vw;
    border-radius: 15%;
    transition: all 1s;
}
.container:hover{
    transform: scale(1.1);
    color: royalblue;
    border: 3px solid rgb(236, 197, 24);
    box-shadow: 0px 4px 10px  gold;
}